

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb; /* Adding a white inner shadow and a blue outer shadow */
}

code {
    color: #e01a76; 
}

.btn-primary {
    color: #fff; /* White text color */
    background-color: #1b6ec2; /* Dark blue background color */
    border-color: #1861ac; /* Border color */
    font-weight: bold; 
    padding: 0.5rem 1rem; 
}


@import "node_modules/bootstrap/scss/bootstrap";

@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "node_modules/bootstrap-icons/font/bootstrap-icons";
